@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

#root{
  background-color: var(--root-background-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: var(--root-color);
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@keyframes fadeIn {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

/* 
====================================================
  Album
==================================================== */
.album {
  text-align: center;
  background-color: var(--album-background-color);
  width: 70vh;
  height: 70vh;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-cover{
  background-image: url('./img/cover.jpg');
  background-position: center;
  background-size: cover;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spindisc {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes showdisc {
  from{
    left: 0%;
  }
  to{
    left: 50%;
  }
}

.album-disc{
  animation: showdisc 1.5s linear, spindisc 2s linear infinite;
  position: relative;
  width: 95%;
  height: 95%;
  left: 50%;
  background-image: url('./img/disc1.png');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

/* 
====================================================
  Music Wave
==================================================== */
.sound-wave {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3%;
}

.bar {
  animation-name: wave-lg;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  background: var(--bar-background); /* Change the color for the bars */
  margin: 0 1.5px;
  height: 10px;
  width: 1px; /* Change the number for the bar width */
}

@keyframes wave-sm {
  0% {
    opacity: 0.35;
    height: 10px;
  }
  100% {
    opacity: 1;
    height: 25px;
  }
}

@keyframes wave-md {
  0% {
    opacity: 0.35;
    height: 15px;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}

@keyframes wave-lg {
  0% {
    opacity: 0.35;
    height: 15px;
  }
  100% {
    opacity: 1;
    height: 70px;
  }
}

@keyframes muted {
  100%{
    opacity: 1;
    height: 15px;
  }
}

/* 
====================================================
  Content
==================================================== */
.show-content{
  animation: showContent 0.5s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--show-content-color);
  z-index: 1;
}

@keyframes showContent {
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.content-bg{
  border: var(--content-bg-border);
  background-color: var(--content-bg-background-color);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row-reverse;
}

.navbar{
  font-family: 'Orbitron';
  display: flex;
  width: 100%;
  margin: 20px;
}

.navbar-content{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.back-component{
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: rotate(315deg);
  z-index: 1;
}

.esc-title{
  position: absolute;
  color: var(--esc-title-color);
  width: auto;
  font-family: 'Orbitron';
  font-size: x-small;
  bottom: 5%;
  right: 12%;
}

.back-title{
  width: 100%;
  height: 10px;
  font-family: 'Orbitron';
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  bottom: 25%;
  text-align: center;
}

.square1{
  width: 100%;
  height: 100%;
  background-color: var(--square1-background-color);
  position: absolute;
  left: 0%;
  top: 0%;
}

.square1:hover{
  background-color: var(--square1-hover);
  border: var(--square1-hover-border);
  transition: 0.5s ease-out;
}

.square2{
  width: 50%;
  height: 50%;
  border: var(--square2-border);
  position: absolute;
  left: 110%;
  top: 0%;
}

.square3{
  width: 25%;
  height: 25%;
  background-color: var(--square3-background-color);
  position: absolute;
  left: 110%;
  top: 60%;
}

.navbar-title{
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-box1{
  position: relative;
  background-color: var(--title-box1-background-color);
  width: 100%;
  height: 60px;
  z-index: 1;
  color: var(--title-box1-color);
}

.title-box2{
  position: relative;
  border: var(--title-box2-border);
  width: 100%;
  height: 60px;
  bottom: 50px;
  left: 10px;
}

.navbar-list{
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: uppercase;
  top: 1%;
}

.navbar-bg{
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 100%);
  position: relative;
  width: 70%;
}

.navbar-bg:hover{
  background-color: var(--navbar-bg-hover);
}

.nav-active{
  background-color: var(--nav-active-background-color);
  font-weight: 500;
}

.navbar-items{
  position: relative;
  font-size: 30px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallelogram {
	width: 40%;
	height: 100%;
  clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 50% 100%);
  background: var(--parallelogram-background);
  position: absolute;
  top: 0;
  left: 0;
}

.introduction, .project, .contact{
  color: var(--int-proj-cont-color);
  position: absolute;
  width: 50%;
  height: 90%;
  font-size: 1.5rem;
}

.intro-content, .project-content, .contact-content{
  padding: 0 5%;
  font-family: 'Orbitron';
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  animation: fadeIn 0.5s ease-out;
}
/* 
====================================================
  Introduction
==================================================== */
.intro-details{
  width: 80%;
  text-align: start;
}

.download-pdf{
  width: auto;
  height: max-content;
  padding: 10px 15px;
  text-align: center;
  border: var(--download-pdf-border);
  color: var(--download-pdf-color);
}


/* 
====================================================
  Project
==================================================== */
.project-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
}

.project-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.project-details{
  width: 320px;
  height: 200px;
  border: var(--project-details-border);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--project-details-color);
  background-position: center;
  background-size: cover;
  background-color: var(--project-details-background-color);
}

.project-desc{
  height: 30%;
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
}

/* .project-details:hover::after{
  display: flex;
  background-color: var(--project-details-hover);
  height:30%;
  width: 100%;
  align-items: center;
  content: '';
  animation: displayContent 0.5s ease-out;
} */

@keyframes displayContent {
  0%{
    opacity: 0;
    transform: translateY(25%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

.project-title{
  background-color: var(--project-title-background-color);
  width: 100%;
  height: fit-content;
  text-align: center;
  color: var(--project-title-color)
}

/* 
====================================================
  Contact
==================================================== */
.contact-details{
  width: 80%;
  height: 100%;
  text-align: start;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  right: 10%;
}

.email, .phone-no{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 50px;
  text-decoration: none;
  color: var(--email-phone-color);
}

.contact-title{
  width: 25%;
  height: 100%;
  text-align: center;
  border: var(--contact-title-border);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 
====================================================
  Background Music
==================================================== */
.volume-content{
  position: absolute;
  background-color: var(--volume-content-background-color);
  height: max-content;
  display: flex;
  padding: 10px;
  border-radius: 5px;
}

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #fff;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .volume {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);
  height: auto;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}